@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-cont {
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}
.container {
	margin: 10px;
	border: 1.5px solid #e7e6eb;
	border-radius: 8px;
	background-color: white;
	/* overflow-x: hidden; */
}
.nav-cont {
	display: flex;
	justify-content: space-between;
	margin: -0.1% 0 2% -0.1%;
}

.nav-cont h6 {
	color: white;
	font-size: 1rem;
	background-color: rgb(241, 135, 13);
	padding: 0.5rem 1.5rem;
	border-bottom-right-radius: 25px;
}
.nav-cont .logo-img {
	width: 40%;
	height: 85%;
	object-fit: cover;
}
.nav-cont .nav-child {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 10px;
	font-size: 35px;
}
.img-cont {
	width: 100%;
	object-fit: contain;
}
hr {
	margin: 1em 0;
}
.display-area {
	width: 450px;
	overflow-x: hidden;
	margin: 0 auto;
}
.slider-wrapper {
	display: flex;
	transition: ease 0.5s;
}
.dots-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.dots-wrapper button {
	border: none;
	background: rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 10px;
	outline: none;
	border-radius: 50%;
	margin: 5px;
}
.dot:hover {
	background: rgba(0, 0, 0, 0.3);
}
.dot.active {
	background: rgba(219, 140, 20, 0.829);
}
.desc {
	padding: 3px 25px 10px;
}
h2 {
	font-weight: 600;
	text-align: left;
	font-size: 1.5em;
	line-height: 2rem;
}
.cost {
	padding: 10px 0px;
	font-size: 1.2em;
	color: #c5c4c9;
}
.cost span:first-child {
	text-decoration: line-through;
}
.new-cost {
	text-decoration: none;
	font-size: 1.8em;
	color: black;
	font-weight: 800;
}

.rating {
	color: rgb(80, 73, 73);
	font-size: 1em;
	display: flex;
	align-items: center;
}
.rat-scr {
	color: #ff0000;
	padding: 0px 5px;
	font-weight: 700;
}
.button-cont {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 10px;
	padding-bottom: 0.2rem;
}
.button-cont button {
	padding: 10px 10px;
	border: 2px solid rgb(163, 159, 159);
	border-radius: 5px;
	font-size: 0.7rem;
	color: rgb(80, 73, 73);
	background-color: transparent;
}
button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}
#buy-bttn {
	background-color: orangered;
	border: none;
	color: white;
}
ul {
	padding: 25px;
	line-height: 1.8rem;
	color: rgb(80, 73, 73);
}
.wrapper {
	display: block;
	margin: 0 auto;
}
.delivery {
	color: rgb(80, 73, 73);
	line-height: 1.5rem;
	font-size: 0.8rem;
}
#del-day {
	color: black;
	font-size: 1rem;
	font-weight: 700;
}
#buy-bttn {
	width: 100%;
	font-size: 2rem;
	text-align: center;
}
#btn-desc {
	padding-left: 10px;
	font-size: 1.5rem;
}
.filter {
	display: flex;
	justify-content: space-evenly;
}
.filter p {
	padding: 10px;
	color: black;
	font-size: 1rem;
	font-weight: 700;
}
.filter i {
	font-weight: 700;
	font-size: 1.3rem;
}
@media (min-width: 280px) and (max-width: 395px) {
	.display-area {
		width: 250px;
	}
	ul {
		line-height: 1.3rem;
		font-size: 0.9rem;
	}
}
@media (min-width: 400px) and (max-width: 470px) {
	.display-area {
		width: 380px;
	}
}
@media (width: 768px) {
	.button-cont {
		grid-template-columns: repeat(auto-fit, minmax(450px, 700px));
		grid-template-rows: 1fr;
		padding: 15px 10px;
	}
}
